include:
  - remote: "https://gitlab.smartworld.team/egal/gitlab-ci/-/raw/master/stage-templates.gitlab-ci.yml"

.initTagsEnvironmentVariables: &initTagsEnvironmentVariables |
  IMAGE_TAG_WITHOUT_VERSION="${CONTAINER_REGISTRY_URL}/${PROJECT_NAME}/${CI_PROJECT_NAME}";
  IMAGE_TAG="${IMAGE_TAG_WITHOUT_VERSION}:${CI_COMMIT_SHORT_SHA}";
  IMAGE_TAG_LATEST="${IMAGE_TAG_WITHOUT_VERSION}:latest";
  VERSION_VARIABLE="${CI_PROJECT_NAME}";
  VERSION_VARIABLE="${VERSION_VARIABLE/-/_}";
  VERSION_VARIABLE="${VERSION_VARIABLE^^}";
  VERSION_VARIABLE="${VERSION_VARIABLE}_VERSION";
  export "${VERSION_VARIABLE}"="${CI_COMMIT_SHORT_SHA}";

build:
  extends:
    - .build:stage:temlate
  script:
    - *initTagsEnvironmentVariables
    - cd "${CI_PROJECT_DIR}"
    - docker build -t "${IMAGE_TAG}" .
    - docker push "${IMAGE_TAG}"
    - docker image tag "${IMAGE_TAG}" "${IMAGE_TAG_LATEST}"
    - docker push "${IMAGE_TAG_LATEST}"

.deploy:template:
  stage: deploy
  when: manual
  script:
    - *initTagsEnvironmentVariables
    - docker-compose config -q;
    - docker-compose up -d "${CI_PROJECT_NAME}";

deploy:develop:
  extends:
    - .develop:stage:template
    - .deploy:template

deploy:stage:
  extends:
    - .stage:stage:template
    - .deploy:template

deploy:production:
  extends:
    - .production:stage:template
    - .deploy:template
