.build:stage:temlate:
  extends:
    - .develop:stage:template
  environment:
    name: build
  when: always
  tags:
    - build
  script:
    - exit 1;

.develop:stage:template:
  extends:
    - .stage:template
  environment:
    name: develop
  only:
    # Только для тегов версии типа v1.2.3beta4
    - /^v[0-9]+\.[0-9]+\.[0-9]+(beta[0-9]+)$/
  tags:
    - deploy:develop
  script:
    - exit 1;

.stage:stage:template:
  extends:
    - .stage:template
  environment:
    name: stage
  only:
    # Только для тегов версии типа v1.2.3RC78
    - /^v[0-9]+\.[0-9]+\.[0-9]+(RC[0-9]+)$/
  tags:
    - deploy:stage
  script:
    - exit 1;

.production:stage:template:
  extends:
    - .stage:template
  environment:
    name: production
  only:
    # Только для тегов версии типа v1.2.3
    - /^v[0-9]+\.[0-9]+\.[0-9]+$/
  tags:
    - deploy:production
  script:
    - exit 1;

.stage:template:
  before_script:
    # Инициализация переменных окружения
    - export COMPOSE_DIR="/home/$(whoami)/${PROJECT_NAME}-${CI_ENVIRONMENT_NAME}";
    - export MOUNT_DIR="${COMPOSE_DIR}/.docker";
    # Создание зависимых директорий
    - mkdir -p "${COMPOSE_DIR}";
    - mkdir -p "${MOUNT_DIR}";
    # region Login to Container Registry
    # TODO: Login to Gitlab Container Registry
    - >
      if [[ "${CONTAINER_REGISTRY}" == 'harbor' ]]; then
        if [[ -z "${HARBOR_USER}" || -z "${HARBOR_PASSWORD}" || -z "${HARBOR_URL}" ]]; then
          echo 'HARBOR_USER, HARBOR_PASSWORD, HARBOR_URL variables is required!'
          exit 1
        fi
        export CONTAINER_REGISTRY_URL="${HARBOR_URL}"
        export CONTAINER_REGISTRY_USER="${HARBOR_USER}"
        export CONTAINER_REGISTRY_PASSWORD="${HARBOR_PASSWORD}"
        echo "${CONTAINER_REGISTRY_PASSWORD}" | docker login "${CONTAINER_REGISTRY_URL}" -u "${CONTAINER_REGISTRY_USER}" --password-stdin
      elif [[ "${CONTAINER_REGISTRY}" == 'dockerhub' ]]; then
        if [[ -z "${DOCKER_HUB_ACCESS_TOKEN}" || -z "${DOCKER_HUB_USERNAME}" ]]; then
          echo 'HARBOR_USER, HARBOR_PASSWORD, HARBOR_URL variables is required!'
          exit 1
        fi
        echo "${DOCKER_HUB_ACCESS_TOKEN}" | docker login --username "${DOCKER_HUB_USERNAME}" --password-stdin
      elif [[ "${CONTAINER_REGISTRY}" == 'gitlab' ]]; then
        echo 'Connection to Gitlab Container Registry not implemented!'
        exit 1
      fi
    # endregion Login to Container Registry
    # Переход в рабочую директорию
    - cd "${COMPOSE_DIR}";

  script:
    - exit 1;
